@font-face {
    font-family: Philosopher-Regular;
    src: url(/src/fonts/Philosopher-Regular.ttf);
}

@font-face {
    font-family: Philosopher-Italic;
    src: url(/src/fonts/Philosopher-Italic.ttf);
}

:root {
    /* PCSX2 Colors */
    --background: #16161a;
    --white: #fffffe;
    --grey: #b3c2d7;
    --dark-grey: #242629;
    --orange: #f9a11b;
    --purple: #45317f;
    --blue: #1b74f9;

    box-sizing: border-box;

    /* Default text color change, so it's visible. */
    color: var(--grey);
}

body {
    margin: 0;
}

/* --- MAIN CONTAINER --- */
.container {
    display: grid;
    grid-template-columns: 250px repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    height: 100vh;
}


/* --- DASHBOARD SECTION --- */
.dashboard {
    grid-area: 1 / 1 / 6 / 2;
    background-color: #225095;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 15px;
    font-family: Philosopher-Regular;
    color: var(--orange);
}

.title {
    display: flex;
}

.logo img {
    padding-right: 4px;
    width: 30px;
    filter: invert(82%) sepia(64%) saturate(253%) hue-rotate(288deg) brightness(96%) contrast(103%);
}

.logo h1, h2, p{
    margin-top: 0;
    margin-bottom: 0;
}

.logo h2 {
    align-self: flex-start;
    font-family: Philosopher-Italic;
}

.logo p {
    font-size: 13px;
    font-family: Philosopher-Italic;
}

.nav {
    display: flex;
    flex-direction: column;

    padding-left: 0;

    list-style-type: none;
    font-family: Tahoma;
}

.nav img {
    height: 1.5em;
    padding-right: 1em;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    padding-left: 20px;
    height: 2em;
}

/* --- HEADER --- */
.header {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 30% 1fr;

    padding: 0 20px;

    background-color: var(--background);
}

input {
    background-color: var(--dark-grey);
}

.header h1 {
    margin: 0;
}

.header h2 {
    font-family: Philosopher-Italic;
}

/* Searchbar, grid item 1 */
.searchbar {
    display: flex;
    align-items: center;
    justify-content: left;
}

.searchbar img {
    filter: invert(81%) sepia(37%) saturate(5080%) hue-rotate(347deg) brightness(101%) contrast(95%);
}

.searchbar input {
    width: 70%;
    margin-left: 1em;
    border-radius: 30px;
    border-style: none;
    border: 1px solid var(--grey);
}

/* User, grid item 2 */
.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 20px;
    margin-right: 20px;

    font-family: Philosopher-Regular;
}

.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.usr img[src="/src/svg"] {
    width: 10px;
}

/* Greeting, grid item 3 */
.greeting {
    display: flex;
    justify-content: left;
    align-items: center;

    font-family: Philosopher-Regular;
}

.greeting #avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

#jm_logo {
    margin-left: auto;
    width: 30%;
    padding-right: 20px;
}

/* Buttons, grid item 4 */
.buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.buttons button {
    width: 100px;
    height: 50px;

    border: 1px solid var(--grey);
    border-radius: 40px;
    background-color: var(--blue);
    color: var(--white)
}

/* --- PANEL --- */
.panel {
    display: grid;
    grid-area: 2 / 2 / 6 / 6;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px repeat(3, 1fr);
    background-color: var(--dark-grey);
}

.panel-title {
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    
    font-family: Philosopher-Regular;
}

.panel-item {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    padding: 10px 10px;

    font-size: 1.5em;
    font-family: Tahoma;
    color: var(--dark-grey);
    background-color: var(--white);
    border: 1px solid var(--blue);
}